@import 'tailwindcss';
/* @plugin "tailwindcss-animate"; */
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);
	--primary-50: #f1eff5;
	--primary-100: #cdb4f7;
	--primary-200: #aa81f1;
	--primary-300: #874deb;
	--primary-400: #6519e6;
	--primary-500: #4e14b2;
	--primary-600: #370e7e;
	--primary-700: #21084b;
	--primary-800: #0a0317;
	--background: hsl(0 0% 100%);
	--background-alt: hsl(0 0% 100%);
	--foreground: hsl(0 0% 9%);
	--foreground-alt: hsl(0 0% 32%);
	--muted: hsl(240 5% 96%);
	--muted-foreground: hsla(0 0% 9% / 0.4);
	--border: hsl(240 6% 10%);
	--border-input: hsla(240 6% 10% / 0.17);
	--border-input-hover: hsla(240 6% 10% / 0.4);
	--border-card: hsla(240 6% 10% / 0.1);
	--dark: hsl(240 6% 10%);
	--dark-10: hsla(240 6% 10% / 0.1);
	--dark-40: hsla(240 6% 10% / 0.4);
	--dark-04: hsla(240 6% 10% / 0.04);
	--accent: hsl(204 94% 94%);
	--accent-foreground: hsl(204 80% 16%);
	--destructive: hsl(347 77% 50%);
	--tertiary: hsl(37.7 92.1% 50.2%);
	--line: hsl(0 0% 100%);
	--success: #2c6e49;

	/* black */
	--contrast: hsl(0 0% 0%);

	/* Shadows */
	--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
	--shadow-popover: 0px 7px 12px 3px hsla(var(--dark-10));
	--shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
	--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
	--shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
	--shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);
}

@theme inline {
	--color-background: var(--background);
	--color-background-alt: var(--background-alt);
	--color-foreground: var(--foreground);
	--color-foreground-alt: var(--foreground-alt);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border-card);
	--color-border-input: var(--border-input);
	--color-border-input-hover: var(--border-input-hover);
	--color-border-card: var(--border-card);
	--color-dark: var(--dark);
	--color-dark-10: var(--dark-10);
	--color-dark-40: var(--dark-40);
	--color-dark-04: var(--dark-04);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-tertiary: var(--tertiary);
	--color-line: var(--line);
	--color-contrast: var(--contrast);
	--color-primary-50: var(--primary-50);
	--color-primary-100: var(--primary-100);
	--color-primary-200: var(--primary-200);
	--color-primary-300: var(--primary-300);
	--color-primary-400: var(--primary-400);
	--color-primary-500: var(--primary-500);
	--color-primary-600: var(--primary-600);
	--color-primary-700: var(--primary-700);
	--color-primary-800: var(--primary-800);
	--color-primary: var(--primary) --shadow-mini: var(--shadow-mini);
	--shadow-mini-inset: var(--shadow-mini-inset);
	--shadow-popover: var(--shadow-popover);
	--shadow-kbd: var(--shadow-kbd);
	--shadow-btn: var(--shadow-btn);
	--shadow-card: var(--shadow-card);
	--shadow-date-field-focus: var(--shadow-date-field-focus);

	--text-xxs: 10px;

	--radius-card: 16px;
	--radius-card-lg: 20px;
	--radius-card-sm: 10px;
	--radius-input: 9px;
	--radius-button: 5px;
	--radius-5px: 5px;
	--radius-9px: 9px;
	--radius-10px: 10px;
	--radius-15px: 15px;

	--spacing-input: 3rem;
	--spacing-input-sm: 2.5rem;

	--breakpoint-desktop: 1440px;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1s ease-out infinite;
	--animate-scale-in: scale-in 0.2s ease;
	--animate-scale-out: scale-out 0.15s ease;
	--animate-fade-in: fade-in 0.2s ease;
	--animate-fade-out: fade-out 0.15s ease;
	--animate-enter-from-left: enter-from-left 0.2s ease;
	--animate-enter-from-right: enter-from-right 0.2s ease;
	--animate-exit-to-left: exit-to-left 0.2s ease;
	--animate-exit-to-right: exit-to-right 0.2s ease;
}

@theme refactor {
  --color-primary-50: oklch(0.956 0.012 276.17);
  --color-primary-100: oklch(0.915 0.023 275.38);
  --color-primary-200: oklch(0.83 0.049 272.39);
  --color-primary-300: oklch(0.735 0.078 271.16);
  --color-primary-400: oklch(0.649 0.104 268.39);
  --color-primary-500: oklch(0.563 0.113 266.83);
  --color-primary-600: oklch(0.477 0.096 266.81);
  --color-primary-700: oklch(0.382 0.075 266.24);
  --color-primary-800: oklch(0.295 0.059 266.79);
  --color-primary-900: oklch(0.208 0.042 266.36);
  --color-primary-950: oklch(0.167 0.033 266.08);
  --color-secondary-50: oklch(0.951 0.024 293.65);
  --color-secondary-100: oklch(0.899 0.051 294.06);
  --color-secondary-200: oklch(0.801 0.103 292.74);
  --color-secondary-300: oklch(0.703 0.159 292.17);
  --color-secondary-400: oklch(0.608 0.214 290.6);
  --color-secondary-500: oklch(0.517 0.266 289.05);
  --color-secondary-600: oklch(0.404 0.215 288.72);
  --color-secondary-700: oklch(0.343 0.182 288.83);
  --color-secondary-800: oklch(0.277 0.148 289.15);
  --color-secondary-900: oklch(0.212 0.114 288.61);
  --color-secondary-950: oklch(0.159 0.086 289.37);
  --color-tertiary-50: oklch(0.977 0.012 358.92);
  --color-tertiary-100: oklch(0.943 0.032 355.61);
  --color-tertiary-200: oklch(0.896 0.06 357.3);
  --color-tertiary-300: oklch(0.84 0.098 356.5);
  --color-tertiary-400: oklch(0.793 0.133 356.85);
  --color-tertiary-500: oklch(0.738 0.18 356.46);
  --color-tertiary-600: oklch(0.688 0.228 356.49);
  --color-tertiary-700: oklch(0.557 0.228 356.31);
  --color-tertiary-800: oklch(0.419 0.171 356.46);
  --color-tertiary-900: oklch(0.283 0.116 356.46);
  --color-tertiary-950: oklch(0.219 0.09 356.93);
  --color-quaternary-50: oklch(0.964 0.017 256.28);
  --color-quaternary-100: oklch(0.94 0.03 251.27);
  --color-quaternary-200: oklch(0.869 0.067 249.95);
  --color-quaternary-300: oklch(0.808 0.103 246.3);
  --color-quaternary-400: oklch(0.745 0.144 241.9);
  --color-quaternary-500: oklch(0.642 0.147 239.97);
  --color-quaternary-600: oklch(0.539 0.123 239.81);
  --color-quaternary-700: oklch(0.435 0.1 239.9);
  --color-quaternary-800: oklch(0.343 0.077 239.12);
  --color-quaternary-900: oklch(0.24 0.054 239.33);
  --color-quaternary-950: oklch(0.187 0.043 240.07);
  --color-success-50: oklch(0.98 0.032 149.52);
  --color-success-100: oklch(0.959 0.067 150.89);
  --color-success-200: oklch(0.904 0.167 150.17);
  --color-success-300: oklch(0.862 0.229 149.63);
  --color-success-400: oklch(0.83 0.221 149.5);
  --color-success-500: oklch(0.796 0.211 149.61);
  --color-success-600: oklch(0.755 0.201 149.54);
  --color-success-700: oklch(0.723 0.192 149.58);
  --color-success-800: oklch(0.529 0.141 149.56);
  --color-success-900: oklch(0.326 0.086 149.59);
  --color-success-950: oklch(0.236 0.063 149.02);
  --color-error-50: oklch(0.974 0.01 17.5);
  --color-error-100: oklch(0.951 0.02 17.59);
  --color-error-200: oklch(0.894 0.044 18.04);
  --color-error-300: oklch(0.843 0.07 18.65);
  --color-error-400: oklch(0.788 0.099 19.54);
  --color-error-500: oklch(0.74 0.131 20.71);
  --color-error-600: oklch(0.684 0.17 22.65);
  --color-error-700: oklch(0.637 0.208 25.33);
  --color-error-800: oklch(0.477 0.168 26.41);
  --color-error-900: oklch(0.306 0.108 26.44);
  --color-error-950: oklch(0.226 0.079 26.36);
  --color-warning-50: oklch(0.984 0.017 84.56);
  --color-warning-100: oklch(0.973 0.025 81.11);
  --color-warning-200: oklch(0.941 0.063 84.94);
  --color-warning-300: oklch(0.914 0.098 86.8);
  --color-warning-400: oklch(0.89 0.141 89.88);
  --color-warning-500: oklch(0.861 0.173 91.93);
  --color-warning-600: oklch(0.716 0.144 91.68);
  --color-warning-700: oklch(0.57 0.115 91.57);
  --color-warning-800: oklch(0.424 0.085 91.92);
  --color-warning-900: oklch(0.285 0.057 92.83);
  --color-warning-950: oklch(0.207 0.042 94.11);
  --color-neutral-50: #f1f1f1;
  --color-neutral-100: #e2e2e2;
  --color-neutral-200: #c6c6c6;
  --color-neutral-300: #a8a8a8;
  --color-neutral-400: #8e8e8e;
  --color-neutral-500: #747474;
  --color-neutral-600: #5c5c5c;
  --color-neutral-700: #424242;
  --color-neutral-800: #2c2c2c;
  --color-neutral-900: #181818;
  --color-neutral-950: #0a0a0a;
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--bits-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--bits-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes caret-blink {
	0%,
	70%,
	100% {
		opacity: 1;
	}
	20%,
	50% {
		opacity: 0;
	}
}

@keyframes enter-from-right {
	from {
		opacity: 0;
		transform: translateX(200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes enter-from-left {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes exit-to-right {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(200px);
	}
}

@keyframes exit-to-left {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-200px);
	}
}

@keyframes scale-in {
	from {
		opacity: 0;
		transform: rotateX(-10deg) scale(0.9);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) scale(1);
	}
}

@keyframes scale-out {
	from {
		opacity: 1;
		transform: rotateX(0deg) scale(1);
	}
	to {
		opacity: 0;
		transform: rotateX(-10deg) scale(0.95);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
